/* General styling */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}

/*------------------- Navbar styling-------------------------- */
.navbar {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 10px 20px;
    background-color: #000;
    height: 50px;
    width: 100%; 
}

.navbar .logo, .navbar .nav-link {
    display: flex;
    align-items: center;
}

/* ----Logo styling---- */
.navbar .logo a {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    margin-right: 30px; 
}

/* Navbar links styling */
.navbar .nav-link {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar .nav-link li {
    margin-right: 20px;
}

.navbar .nav-link a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.navbar .nav-link a:hover {
    text-decoration: underline;
}

/* Search button styling */
.search-bar {
    display: flex;
    align-items: center;
}

.search-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    margin-left: 20px; 
}


